body {
    background-color: #ffffb2;
}

ul{
    list-style-type: none;
}
h1 {
    color: green;
}
li {
    padding: 9px;
    margin-bottom 19px;
    background-color: yellow;
}
span {
    color: red;
}
.pom1 {
    color: orange;
}
